.alert {
  color: white;
  padding: 0.4em;

  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(180 37% 18% / 1);
    padding: 1em;
    border: 2px solid hsl(180 3% 9% / 1);
  }

  &.success {
    .message::before {
      margin-right: 0.5em;
      color: green;
      font-size: 2em;
      content: "✔";
    }
  }

  &.error {
    .message::before {
      margin-right: 0.5em;
      color: rgb(255, 0, 0);
      font-size: 2em;
      content: "✖";
    }
  }

  &.warning {
    .message::before {
      color: rgb(255, 251, 0);
      margin-right: 0.5em;
      font-size: 2em;
      content: "⚠";
    }
  }
}
